<div id="homepage_header_container">
    <header >
        <img class="logo" src="../images/PinClipart.com_dry-clipart_5656035.png" alt="logo"> <!-- insert logo later on here. -->
        <nav>
            <ul class="nav_links">

                <li><a href = "#">Purpose</a></li>
                <li><a href = "/partners">Instituitions</a></li>
                <li><a href = "#">Collection points</a></li>
                <li><a href = "#">FAQ</a></li>
            </ul>
        </nav>
        <form action="/login/logout?_method=DELETE" method="post"><button id="logoutButton" type="submit">Logout</button></form>
    </header>
</div>